.u-assessment-menu{
    height: 70px;
    background-color: var(--bg-white);
    border-radius: 12px 12px 0px 0px;
    border-bottom: 1px solid var(--color-border);
}
.u-assessment-wrapper {
    background-color: var(--bg-white);
    border-radius: 8px;
}
.overview{
    border-right: 1px solid var(--color-border);
}
.assessment-overview {
    display: grid;
    grid-template-columns: 160px auto auto 190px;
}
.overview:nth-child(4){border-right: none;}
.overview-icon {
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 8px;
    background-color: var(--accent-purple-light, #EBE8FD);
}
.u-assessment-item-link.active {
    border-bottom: 3px solid #0073E6;
}
.sidebar-menu-mobile {
    height: 40px;
    width: 40px;
    background-color: var(--main-bg);
}
.filter-icon-box .close-btn{height: 40px ; width: 40px ; border-radius: 50%;}
.filter-icon-box .close-btn:hover{border: 1px solid var(--color-theme);}